<connectionStrings>
  <clear/>
  <!--PC-->
  <!--<add name="Main" connectionString="Data Source=DESKTOP-E2Q5IK9\PCBLANKENBURG;Initial Catalog=BGHKompaktAppNebentätigkeiten;Integrated Security=True" providerName="System.Data.SqlClient"/>
  <add name="User" connectionString="Data Source=DESKTOP-E2Q5IK9\PCBLANKENBURG;Initial Catalog=BGHKompaktAppUser;Integrated Security=True" providerName="System.Data.SqlClient"/>
  <add name="MP" connectionString="Data Source=DESKTOP-E2Q5IK9\PCBLANKENBURG;Initial Catalog=BGHKompaktMP;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
  
  <!--Laptop-->
  <!--<add name="Main" connectionString="Data Source=BLANKENBURG\SQLEXPRESS;Initial Catalog=BGHKompaktAppNebentätigkeiten;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
  <!--<add name="User" connectionString="Data Source=BLANKENBURG\SQLEXPRESS;Initial Catalog=BGHKompaktAppUser;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
  <!--<add name="MP" connectionString="Data Source=BLANKENBURG\SQLEXPRESS;Initial Catalog=BGHKompaktMP;Integrated Security=True" providerName="System.Data.SqlClient"/>-->

  <!--BGH-->
    <!--<add name="Main" connectionString="Data Source=serversql2017.bgh.bund.de\Instanzverw;Initial Catalog=Nebentaetigkeit;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
    <add name="User" connectionString="Data Source=serversql2017.bgh.bund.de\InstanzSen;Initial Catalog=Montagspostuser;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="MP" connectionString="Data Source=serversql2017.bgh.bund.de\InstanzSen;Initial Catalog=Montagspost;Integrated Security=True" providerName="System.Data.SqlClient"/>

</connectionStrings>